.cancion {
  margin-top: 1%;
  width: 27%;
  height: 10vh;
}

.item {
  border-radius: var(--border-radius);
  background: var(--primary-glow);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.7s, box-shadow 0.7s;
  cursor: pointer;
}

.cancion p{
  font-size: 1.2em;
  margin: 0;
}

.item:hover{
  transform: translateY(-2px) translateX(4px) ;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.customModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal {
  padding: 2%;
  width: 34%;
  height: 60%;
  overflow-y: auto;
  border-radius: var(--border-radius);
  background-color: #214486;
  color: white;
  display: flex;
  flex-direction: column;
}

.modal p{
  font-size: 1em;
  font-family: var(--font-mono);
}

.modal button {
  align-self: center;
  width: 20%;
  height: 10%;
  border-radius: var(--border-radius);
  border-width: 0;
  transition: transform 0.4s, box-shadow 0.4s;
  background-color: black;
}

.modal h3 {
  align-self: center;
  margin-bottom: 3%;
  font-family: var(--font-mono);
  font-weight: bold;
}

.modal button:hover{
  transform: translateY(-2px) translateX(4px) ;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
