.background {
  background-image: url('https://media.discordapp.net/attachments/1141783340421238894/1178975895608905838/spotify-mixes-genero-decadas-artistas-1-scaled.webp?ex=657819dd&is=6565a4dd&hm=f9a8623232c3f4cd06664057ba38912d6a668b59fe02b978cc9cd2ad670192b5&=&format=webp&width=873&height=655');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh; /* O el alto que desees */
  width: 100%;
}


.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    -45deg, /* Ajusta el ángulo para cambiar la dirección de la diagonal */
    rgba(0, 0, 0, 0.7) 50%, /* Ajusta la opacidad y el punto de inicio según sea necesario */
    transparent 50% /* Ajusta el punto final del gradiente */
  );
}

.main {

  color: #fff; /* Texto blanco */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  text-align: center;
  background: linear-gradient(to bottom, #ff0000, #660000); /* Gradiente de rojo */
  padding: 4rem;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.logoContainer {
  margin-bottom: 2rem;
}

.h1 {
  margin: 0.5rem 0;
  color: #fff;
}

.loginButton {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 2rem;
}

.loginButton i {
  margin-right: 0.5rem;
}

.musicNotes {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.2);
}

.musicNotes i {
  display: block;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}




